<div class="row">

<div class="contain-to-grid sticky fixed">
<nav class="top-bar">

<ul class="title-area">
    <!-- Title Area -->
    <li class="name ">

      <h1 data-tooltip class="has-tip" title="{{header.oneLiner}}"><a href="/#/">{{header.title}}</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar has-form"><a class="button success" href="/#/grow">Contribute!</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#" data-dropdown="comments">Comments</a>
<div id="comments" class="f-dropdown content medium" data-dropdown-content>
  <div ng-include="'views/p-comments.html'" ng-controller="PCommentsCtrl">Listening for comments...</div>
</div></li>
      
      <li>
      	<a href="#" data-dropdown="stream">Stream</a>
		<div id="stream" class="f-dropdown content small" data-dropdown-content>
  			<div ng-include="'views/p-stream.html'" ng-controller="PStreamCtrl">Streaming stream...</div>
		</div>
      </li>
     
      <li>
      	<a href="#" data-dropdown="funders">Funders</a>
		<div id="funders" class="f-dropdown content" data-dropdown-content>
  		 	<div ng-include="'views/p-funders.html'" ng-controller="PFundersCtrl">Honouring funders...</div>
		</div>
      </li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
     
      <li class="has-form">
        <a class="button success" href="/#/grow">Contribute!</a>
      </li>
    </ul>
  </section>

</nav>
</div>
</div>


   