<div class="row">

<div class="contain-to-grid sticky fixed">
<nav class="top-bar" ng-controller="PPerksCtrl">
<div class="small-4 columns"><a ng-href="/#/"><img src="/images/eco-logo.png"></a></div>

<section class="top-bar-section">
<!--
<div class="small-3 columns">
   <ul><li>
        <a ng-href="" data-dropdown="stream"><i class="foundicon-down-arrow"></i> Stream</a>
    <div id="stream" class="f-dropdown content small" data-dropdown-content>
        <div ng-include="'views/p-stream.html'" ng-controller="PStreamCtrl">Streaming a stream...</div>
    </div>
      </li></ul>
      </div>
-->


<form class="form custom" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <div class="small-4 columns perk-options">

    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="irth@3rdrockdesign.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="Ecossentials Perk">
    <input type="hidden" name="button_subtype" value="products">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="CAD">
    <input type="hidden" name="add" value="1">
    <select name="os0" ng-model="selecVal" value="1">
    <option value="" disabled selected >Choose your perk and claim it today!</option>
    <option ng-repeat="perk in perks " value="{{perk.cost}}" id="{{perk.cost}}" ng-model="perk.cost">{{perk.name}} ${{perk.cost}}</option>
    </select>
 
<input type="hidden" name="currency_code" value="CAD">


<input ng-repeat="perk in perks" type="hidden" name="option_select{{$index}}" value="{{perk.cost}}">
<input ng-repeat="perk in perks" type="hidden" name="option_amount{{$index}}" value="{{perk.cost}}">
<input type="hidden" name="option_index" value="0">

</div>

        <button ng-disabled="!selecVal" type="submit" class="small-4 columns success" name="submit" ng-model="valu"><i class="foundicon-heart"> {{(selecVal | noFractionCurrency) + "  Get this" }}</i> Perk</button>
</form>
    
</section>
</nav>
</div>
</div>



   