<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
  <thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Available</th>
    <th>Claimed</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in projects | filter:search | orderBy:'name'">
    <td>{{project.name}}</td>
    <td>{{project.description}}</td>
    <td>${{project.cost}}</td>
    <td>{{project.available}}</td>
    <td>{{project.claimed}}</td>
    <td>
      <a href="#/edit/{{project._id.$oid}}"><h3><i class="foundicon-tools"></i></h3></a>
    </td>
  </tr>
  </tbody>
</table>
<a class="button" ng-href="/#/new"><i class="foundicon-plus"> Add Perk</i></a>