<div class="panel">
<div class="row">

<h4>
	Ecossentials is Expanding 
</h4>
<p>
	Ecossentials is offering great perks in order to upgrade to a better location - right next door! 
</p>
<p><b>
	We've raised {{fund.raised | noFractionCurrency}} of our {{fund.goal | noFractionCurrency}} goal.
</b></p>

<p> 
<div class="progress small-12 success round" ><span class="meter" style="width: {{(fund.raised / fund.goal * 100)  | number: 0}}%; text-align:right; padding-right:1em; position:relative; bottom:6px; background:#2795B6"><h2 class="perc-bump">{{(fund.raised / fund.goal * 100)  | number: 0}}%</h2></span></div>
</p>
<p>Thanks for your support, we're really revving along and will reach our remaining {{fund.goal - fund.raised | noFractionCurrency}} in no time!</p>
    
<p>Choose your favourite perk or deal below. If you'd rather just help with a donation, enter the amount above and click Donate.</p>

<p>If you would like to become an even greater part of the Ecossentials story by putting your money to work with us, contact Sean at <a href="mailto:Sean@ecossentials.ca">Sean@ecossentials.ca</a> or 604-485-5256 for more details.


<span>


    
</div>
    </div>