<div ng-repeat="snippet in story | orderBy:'order' ">
  <img ng-src="{{snippet.img}}"> <h3>{{snippet.heading}}</h3> <p>{{snippet.content}}</p>
  </div>  


<table>
  <div class="large-6 columns">
  <thead>
    <tr>
      <th><h5><i class="foundicon-location"></i> Local Supplier</h5></th>
      <th><h5><i class="foundicon-cart"></i> Merchandise Type</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="supplier in suppliers">
      <td><b>{{supplier.name}}</b></td>
      <td>{{supplier.type}}</td>
    </tr>
   </tbody>
</div>
</table>



<div class="small-12 columns" ng-repeat="(key, items) in newItems">
  
      <table>
        <thead>
            <tr>
              <th width="100%"><h5><i class="foundicon-paper-clip"></i> {{key}}</h5></th>
              <th style="text-align:right"><h5>Cost</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
              <td ng-model="item.name" >{{item.name}}</td>
              <td style="text-align:right" ng-model="item.cost" >{{item.cost | noFractionCurrency}}</td>
            </tr>
         </tbody>
      </table>
  </div>


<table>
  <thead>
    <tr>
      <th><h5> <i class="foundicon-folder"></i> Summary of Required Finances</h5></th>
      <th style="text-align:right"><h5>Cost</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in budget">
      <td>{{item.type}}</td>
      <td style="text-align:right">{{item.cost | currency}}</td>
    </tr>
  </tbody>

</table>
